.cardCategoryWhite {
    color: rgba(255,255,255,.62);
    margin: 0;
    font-size: 14px;
}

.cardTitleWhite {
    color: #FFFFFF;
    margin-top: 0;
    min-height: auto;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 3px;
    text-decoration: none
}
.uploadButton {
    float: right;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    background: linear-gradient(60deg, #ec407a, #d81b60);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(233, 30, 99,.4)
}
.removeButton {
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}
.ImgWrapper {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(233, 30, 99,.4);
}
.loader {
    width: 100%;
    '& > * + *': margin-top: 10px,
}